img {
    height: 400px;
    width: 400px;
    margin-left: 500px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}